.dashboard-info-container{
    display: flex;
    height: 10%;
    width: 80%;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
}

.dashboard-info{
    height:90%;
    font-size: 30px;
}

.info-text{
    height: 100%;
    width: 90%;
    color: white;
    word-break: break-word;
    align-content: end;
}

.info-number{
    height: 100%;
    width: 10%;
    color: white;
    text-align: end;
    align-content: end;
}