.date-switcher-container{
  width:200px;
  height:50px;
  background-color:dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px ;
  box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
}

.switch-date-container{
  font-size:20px;
  padding:5px;


  &:hover{
    cursor:pointer;
  }
}




