.register-item-wrapper{
    display: flex;
    height: 80%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border-radius: 27px;
    flex-direction: column;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.register-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border:2px;
    background-color: dodgerblue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.input-wrapper{
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.input__width_container{
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.register-label{
    font-size: 50px;
    height:40%;
    width: 100%;
    text-align: center;
    color: white;
}

.name-input-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    flex-direction: column;
}

.login-button-container{
    display: flex;
    justify-content: center;
    align-items:end;
    height: 20%;
}

.already-register-text{
    border: none;
    background: none;
    font-size: 17px;
    text-effect: engrave;
    filter:brightness(0.5);
    transition: filter 0.3s;
    text-decoration: underline;
}

.already-register-text:hover{
    filter: brightness(1);
    color: blue;
    cursor: pointer;
}

.fa-solid{
    font-size: 20px;
}