.input-container{
    display: flex;
    align-items: center;
    height: 10%;
    width:100%;
    border-radius:25px;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.icon-container{
    display: flex;
    width: 10%;
    position: absolute;
    left:5%;
}

.input{
    outline: none;
    border: none;
    border-radius: 27px;
    font-size: 20px;
    background:transparent;
    text-align: center;
    width:80%;
    height:100%;
    margin: auto;
}

.icon{
    width: 10%;
    height:100%;
    align-self: center;
    color: dodgerblue;
}

.input::placeholder{
    height: 100%;
}