.settings-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(330deg, white 20%, dodgerblue 70%);
}

.setting-headline {
  height: 10%;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.blur-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color:#1d26364d;
  border-radius: 10px;
  z-index: 1;
}

.working__time__flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.settings-wrapper {
  position: relative;
  height: 80%;
  width: 50%;
  box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.data {
  position: relative;
  z-index: 3;
  filter: none;
  -webkit-filter: none;
  display: flex;

}

.date-container {
  align-items: center;
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.working-time-container {
  flex-direction: column;
  justify-content: space-evenly;

  width: 100%;
  height: 70%;
}

.flex__settings {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: space-evenly;
}

.input__direction__container {
  width: 70%;
  align-items: flex-end;
}