.time-pick-item{
    display: flex;
    height: 50%;
    width: 30%;
    flex-direction: column;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.time-label{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 35px;
    color: white;
}

.time-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    overflow: scroll;
}

.time-item-wrapper::-webkit-scrollbar {
    display: none;
}