.time-item-container{
    display: flex;
    height: 18%;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    border-radius: 25px;
    box-shadow: 0 8px 20px 3px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.time-item{
    align-self: center;
    align-content: center;
    height:100%;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
}

.time-item:hover{
    cursor: pointer;
    font-size: 33px;
}