.drop-down-container-style {
  border: 2px solid rgba(0, 226, 227, 0.86);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  color: white;
  margin-top: 15px;
  right:0;
  background-color:#1d26364d;
  z-index: 4;
  filter: none;
  -webkit-filter: none;
  position: absolute;
}

.drop-down-item-style {
  list-style-type: none;

  &:hover {
    cursor: pointer;
  }
}

.drop-down-parent-item {
  list-style-type: none;
}

.drop-down-hover-children {
  text-decoration: none;
  color: #757575;

  &:hover {
    cursor: pointer;
    color: rgba(0, 226, 227, 0.86);
  }
}