.login-item-wrapper {
    display: flex;
    height: 80%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border-radius: 27px;
    flex-direction: column;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.login-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border: 2px;
    background-color: dodgerblue;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.input-wrapper {
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    flex-direction: column;
}

.login-label {
    font-size: 50px;
    height: 40%;
    width: 100%;
    text-align: center;
    color: white;
}

.input__width{
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.email-input {
    border: none;
    height: 95%;
    width: 80%;
    font-size: 20px;
    outline: none;
    background: transparent;
    color: gray;
}

.email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
    border-radius: 25px;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
}

.email-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    color: dodgerblue;
    margin-right: 10px;
}

.password-input-container {
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
}

.password-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    color: dodgerblue;
    margin-right: 10px;
}

.password-input {
    border: none;
    outline: none;
    height: 95%;
    width: 80%;
    font-size: 20px;
    background: transparent;
    color: gray;
}

.forgot-password-button-container {
    display: flex;
    justify-content: center;
    align-self: self-start;
    height: 5%;
    width: 50%;
}

.forgot-password-button {
    outline: none;
    border: none;
    color: gray;
    background-color: white;
    cursor: pointer;
}

.forgot-password-button:hover {
    filter: brightness(1);
    color: blue;
}

.login-button {
    display: flex;
    border-radius: 25px;
    border: 2px;
    height: 50%;
    width: 25%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    cursor: pointer;
}

.login-button:hover {
    font-size: 35px;
    height: 55%;
    width: 26%;
}

.register-button-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20%;
}

.register-button {
    border: none;
    background: none;
    font-size: 17px;
    text-effect: engrave;
    filter: brightness(0.5);
    transition: filter 0.3s;
    text-decoration: underline;
}

/*
.register-button:hover{
    filter: brightness(1);
    color: blue;
    cursor: pointer;
}
*/

.fa-solid {
    font-size: 20px;
}