.reservation-item-list {
    display: flex;
    scroll-behavior: auto;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.Reservation-Item-List::-webkit-scrollbar {
    display: none;
}
