.button {
    display: flex;
    border-radius: 25px;
    border: 2px;
    font-size: 30px;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    padding:10px;
}

.button:hover {
    font-size: 35px;
    cursor: pointer;
}