.reservation-item-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    width: 90%;
    min-height: 120px;
    border-radius: 27px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: white;
}

.first-column {
    align-items: center;
    justify-content: space-evenly;
}

.name-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}

.name-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 25px;
    align-self: center;
    align-items: center;
}

.time-area {
    width: 50%;
    display: flex;
    justify-content: center;
}

.time-container {
    font-size: 30px;
}

.central-border-container {
    width: 90%;
    align-self: center;
    height: 1%;
    background-color: black;
}

.comment-container {
    align-content: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
    word-wrap: break-word;
    overflow-y: scroll;
}

.comment-container::-webkit-scrollbar{
    display: none;
}

.reservation-status-change-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 25%;
}

.change-status-container {
    display: flex;
    height: 30%;
    width: 25%;
    cursor:pointer;
    justify-content: center;
    align-items: center;
}


.column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 49.5%;
    width: 100%;
    align-items: center;
    height:auto;
}

.second-column {
    display: flex;
    justify-content: space-evenly;
    height:auto;
    word-break: break-word;
}