*{
    font-family: Arial, serif;
}

.page-wrapper{
    height:100%;
    width:100%;
}

.user-view-wrapper{
    display: flex;
    justify-content: center;
    background-image:linear-gradient(330deg, white 20%, dodgerblue 70%);
    height: 100%;
    width: 100%;
}

.admin-view-wrapper{
    height:100%;
    width:100%;
    background-image:linear-gradient(330deg, white 20%, dodgerblue 70%);
}

.admin-view-headline-wrapper{
   height:10%;
    display: flex;
    border-bottom: 2px solid rgb(29 38 54 / 40%);
    justify-content: space-evenly;
    align-items: center;
}

.headline-direction-container{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.headline{
    font-size:30px;
    color: white;
}

.admin-view-info-wrapper{
    position: relative;
    display: flex;
    width:100%;
    height:80%;
    flex-direction: column;
    align-self: center;
}

.date-switcher-wrapper{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:2%;
}

.reservation-dashboard-partition{
    height:95%;
    width:3px;
    background-color: rgb(29 38 54 / 40%);
    z-index: 1;
}

.reservation-dashboard-container{
    display: flex;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    align-items: center;
}

.reservation-list{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-list{
    display: flex;
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.reservation-section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
}

.dashboard-section{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.reservation-headline{
    font-size:45px;
    color: white;
}

.calendar-time-pick-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}

.appointment-booking-button-container{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button__width{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.dropdown-menu{
    display: flex;
    height: 5%;
    width: 5%;
    justify-content: center;
    align-items: end;
    align-self: end;
}

.headline-container{
    display: flex;
    height: 10%;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}

.appointment-booking{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.react-calendar-datetime-picker{
    display: flex;
    justify-content: center;
    align-self: center;
}

.react-calendar-datetime-picker .daysList .daysList-day {
    font-size: 16px;
}

.header-date--year{
    font-size:25px;
}

.header-date--month{
    font-size:25px;
}

.react-calendar-datetime-picker .daysList .daysList-day {
    font-size: 17px;
}

.react-calendar-datetime-picker .daysList .is-week-days {
    font-size: 20px;
}

.react-calendar-datetime-picker .calender-modal {
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.4);
    align-self: center;
    border-radius:25px;
    width: 70%;
    height: 100%;
}

.react-calendar-datetime-picker .daysList .is-disabled {
    background-color: lightblue;
    color: gray;
}

.react-calendar-datetime-picker .daysList .is-today {
    box-shadow: inset 0 0 0 2px dodgerblue;
}

.react-calendar-datetime-picker .header{
    background-color: dodgerblue;
}

.react-calendar-datetime-picker .daysList .is-selected-day{
    background-color: dodgerblue;
}

.input__width{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
}
