.dashboard-info-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
}